@import url("media-screen.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;


}

.page {
    position: relative;
    background: var(--light-sand, #FCF7E6);
    justify-content: space-between;

}