@import url("media-screen.css");
footer {
    display: flex;
    width: 100%;
    padding: 84px 120px 340px 84px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    border-top: 1px solid #000;
    background: var(--white, #FFF);
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer ul li {
    margin-top: 19px;
}

